<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headFiles :: headFiles">
    <title>Garage Sale Items</title>
</head>
<body>
	<nav th:replace="fragments/header :: header"></nav>
	<div class="container">
      <div class="hero-unit">
        <h1>All Items</h1>
		<table style="width:100%">
		    <thead>
        		<tr>
            		<th> Id </th>
					<th> Category </th>
            		<th> Name </th>
					<th> Price </th>
        		</tr>
    		</thead>
			<tbody>
			<tr th:if="${listItems.empty}">
				<td colspan="2"> No Items Available </td>
			</tr>
			<tr th:each="listItem : ${listItems}">
				<!--<td><span th:text="${listItem.id}"> Id </span></td>-->
				<td><a th:href="@{'/items/' + ${listItem.id}}" th:text="${listItem.id}"> Id </a></td>
            	<td><span th:text="${listItem.category}"> Category </span></td>
				<td><span th:text="${listItem.name}"> Name </span></td>
				<td><span th:text="${listItem.price}"> Price </span></td>
			</tr>
			</tbody>
		</table>
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>